$site-width: 1240;

$font--main: "Satoshi-Regular";
$font--bold: "Satoshi-Bold";
$font--medium: "Satoshi-Medium";


$color--body-copy: #242d3f;
$color--gray: #f8f8f8;
$color--white: #ffffff;
$color--black: #000000;
$color--1: #b1ff00;
$color--2: #015796;
$color--3: #1f2631;
$color--4: #bd0021;
$color--5: #fd1053;
$color--6: #71706f;
$baseFontSize: 16;
$linkFontSize:13;